<!DOCTYPE html>
<html lang="zxx">
<head>
	<title>ARS MUNDUS| universal art gallery for NFT'S</title>
	<meta charset="UTF-8">
	<meta name="description" content="Cassi Photo Studio HTML Template">
	<meta name="keywords" content="photo, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Stylesheets -->
	<link rel="stylesheet" href="css/bootstrap.min.css"/>
	<link rel="stylesheet" href="css/font-awesome.min.css"/>
	<link rel="stylesheet" href="css/elegant-icons.css"/>
	<link rel="stylesheet" href="css/owl.carousel.min.css"/>

	<!-- Main Stylesheets -->
	<link rel="stylesheet" href="css/style.css"/>


	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Offcanvas Menu Section -->
	<div class="offcanvas-menu-wrapper">
		<div class="menu-header">
			<a href="/" class="site-logo">
				<img src="img/logo.png" alt="">
			</a>
			<div class="menu-switch" id="menu-canvas-close">
				<i class="icon_close"></i>
			</div>
		</div>
		<ul class="main-menu">
			<li><a href="/" class="active">Home</a></li>
			<li><a href="/ovgallery">Gallery</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
		<div class="menu-footer">
			<div class="footer-social">
				<a href="https://web.facebook.com/mayor.emeka/photos_by">Facebook</a>
				<a href="https://www.instagram.com/mayor_de_eliteman/">Instagram</a>
			</div>
			<div class="copyright"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart color-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
		</div>
	</div>
	<!-- Offcanvas Menu Section end -->
	
	<!-- Header section -->
	<header class="header-section">
		<a href="/" class="site-logo">
			<img src="img/logo.png" alt="">
		</a>
		<div class="menu-switch" id="menu-canvas-show">
			<i class="icon_menu"></i>
		</div>
	</header>
	<!-- Header section end -->

	<!-- Hero section -->
	<section class="hero-section">
		<div class="hero-slider owl-carousel">
			<div class="hero-item">
				<div class="hero-text">
					<p>There is one thing the photo must contain – the humanity of the moment.</p>
					<a href="/gallery" class="ht-btn">See More <i class="arrow_right"></i></a>
				</div>
				<div class="hi-bg set-bg" data-setbg="img/1.gif"></div>
			</div>
			<div class="hero-item">
				<div class="hero-text">
					<p>A thing that you see in my pictures is that I was not afraid to fall in love with these people.</p>
					<a href="/gallery" class="ht-btn">See More <i class="arrow_right"></i></a>
				</div>
				<div class="hi-bg set-bg" data-setbg="img/5.gif"></div>
			</div>
			<div class="hero-item">
				<div class="hero-text">
					<p>If the photographer is interested in the people in front of his lens, and if he is compassionate, it’s already a lot. The instrument is not the camera but the photographer.</p>
					<a href="/gallery" class="ht-btn">See More <i class="arrow_right"></i></a>
				</div>
				<div class="hi-bg set-bg" data-setbg="img/10.gif"></div>
			</div>
			<div class="hero-item">
				<div class="hero-text">
					<p>Photography is the art of making memories tangible.</p>
					<a href="/gallery2" class="ht-btn">See More <i class="arrow_right"></i></a>
				</div>
				<div class="hi-bg set-bg" data-setbg="img/2.gif"></div>
			</div>
			<div class="hero-item">
				<div class="hero-text">
					<p>When you photograph people in color, you photograph their clothes. But when you photograph people in Black and white, you photograph their souls!</p>
					<a href="/gallery3" class="ht-btn">See More <i class="arrow_right"></i></a>
				</div>
				<div class="hi-bg set-bg" data-setbg="img/3.gif"></div>
			</div>
			<div class="hero-item">
				<div class="hero-text">
					<p> If you can’t feel what you’re looking at, then you’re never going to get others to feel anything when they look at your pictures.</p>
					<a href="/gallery3" class="ht-btn">See More <i class="arrow_right"></i></a>
				</div>
				<div class="hi-bg set-bg" data-setbg="img/6.gif"></div>
			</div>
			<div class="hero-item">
				<div class="hero-text">
					<p>“It is an illusion that photos are made with the camera… they are made with the eye, heart, and head.</p>
					<a href="/gallery3" class="ht-btn">See More <i class="arrow_right"></i></a>
				</div>
				<div class="hi-bg set-bg" data-setbg="img/9.gif"></div>
			</div>
			<div class="hero-item">
				<div class="hero-text">
					<p>A portrait is not made in the camera but on either side of it.</p>
					<a href="/gallery5" class="ht-btn">See More <i class="arrow_right"></i></a>
				</div>
				<div class="hi-bg set-bg" data-setbg="img/4.gif"></div>
			</div>
			<div class="hero-item">
				<div class="hero-text">
					<p>I go and get the camera and do it. Photography is a medium in which if you don’t do it then, very often you don’t do it at all, because it doesn’t happen twice.</p>
					<a href="/gallery4" class="ht-btn">See More <i class="arrow_right"></i></a>
				</div>
				<div class="hi-bg set-bg" data-setbg="img/7.gif"></div>
			</div>
			<div class="hero-item">
				<div class="hero-text">
					<p>Actually, I’m not all that interested in the subject of photography. Once the photo is in the box, I’m not all that interested in what happens next. Hunters, after all, aren’t cooks.</p>
					<a href="/gallery6" class="ht-btn">See More <i class="arrow_right"></i></a>
				</div>
				<div class="hi-bg set-bg" data-setbg="img/8.gif"></div>
			</div>
			<div class="hero-item">
				<div class="hero-text">
					<p>If the photographer is interested in the people in front of his lens, and if he is compassionate, it’s already a lot. The instrument is not the camera but the photographer.</p>
					<a href="/gallery6" class="ht-btn">See More <i class="arrow_right"></i></a>
				</div>
				<div class="hi-bg set-bg" data-setbg="img/11.gif"></div>
			</div>
		</div>
	</section>
	<!-- Hero section end -->

	<!-- Footer section -->
	<footer class="footer-section">
		<div class="footer-social">
			<a href="">Facebook</a>
			<a href="">Instagram</a>
		</div>
		<div class="copyright"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Designed  by <a href="https://devknight.herokuapp.com" target="_blank">Lazy Developer</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
	</footer>
	<!-- Footer section end -->

	<!--====== Javascripts & Jquery ======-->
	<script src="js/vendor/jquery-3.2.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/masonry.pkgd.min.js"></script>
	<script src="js/main.js"></script>

	</body>
</html>
